
@media(min-width:1215px) {
    .advertise-publishers-section{
        height: 837px;
    }

    .advertise-section {
        height: 448px;
    }

    .advertise-section p{
        font-size: 16px;
    }

    .advertise-section li{
        font-size: 16px;
        margin:5px 0px;
    }

    .advertise-section h3{
        margin: 25px 0px;
    }

    .publishers-section h3{
        margin: 25px 0px;
    }
    
    .publishers-section li{
        font-size: 16px;
        margin:5px 0px;
    }
}
