

@media(max-width:550px) {
    .advertise-publishers-section .container{
        background: rgba(0, 0, 0, 0.58);
        height: 100%;
    }

    .advertise-section .section{
        width: 100%;
        float: left;
        padding-right: 15px;
        padding-left: 15px;
    }

    .publishers-section .section{
        width: 100%;
        float: left;
        padding-right: 15px;
        padding-left: 15px;
    }

    .advertise-publishers-section .sign-up img{
        width: 40%;
    }

    .advertise-section p{
        font-size: 12px;
    }

    .advertise-section li{
        font-size: 12px;
        margin:2px 0px;
    }

    .advertise-section h3{
        margin: 10px 0px;
    }

    .publishers-section h3{
        margin: 12px 0px;
    }

    .publishers-section li{
        font-size: 12px;
        margin:2px 0px;
    }
}