@media(max-width:628px) {
    
    .advertise-publishers-section .sign-up img{
        width: 40%;
    }

    .advertise-publishers-section{
        height: 700px;
    }

    .advertise-section {
        height: 367px;
    }

    .advertise-section p{
        font-size: 10px;
    }

    .advertise-section li{
        font-size: 10px;
        margin:2px 0px;
    }

    .advertise-section h3{
        margin: 10px 0px;
    }

    .publishers-section h3{
        margin: 12px 0px;
    }

    .publishers-section li{
        font-size: 10px;
        margin:2px 0px;
    }

    h2.section-header{
        font-size: 34px;
    }

    .intro{
        padding: 100px 0;
    }
}