#about{
    padding: 10px 0 100px 0;
}

h2.section-header{
    font-weight: bold;
    font-size: 45px;
    font-style: normal;
}

.navbar .login-signup-buttons-wrapper{
    background: url('../img/login_bg.png');
    width: 185px;
    height: 43px;
    margin-top: 7px;
}

.navbar.navbar-custom .nav li .login-signup-buttons-wrapper div{
    width: 48%;
    display: inline-block
}

.navbar.navbar-custom .nav li .login-signup-buttons-wrapper a.login-btn {
    position: relative;
    display: block;
    padding: 3px 8px 3px 18px;
    margin: 4px 0 0 7px;
    color: #000;
}

.navbar.navbar-custom .nav li .login-signup-buttons-wrapper a.signup-btn {
    margin: 0px 0 0 0;
    position: relative;
    display: block;
    color: #000;
    padding: 4px 0 4px 4px;
}

#contact{
    background-color: #e1d856;
    padding: 100px 0;
}

#contact h2{
    color: #242d40;
}

#contact .row {
    margin: 0 auto;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #fff;
}

#contact input, #contact textarea {
    border: 1px solid #fff;
    width: 100%;
    margin: 15px 0px 15px 0;
    padding: 15px;
    background: none;
    color: #fff;
}

#contact textarea {
    height: 135px;
    resize: none;
}

#contact a.submit{
    background-image: url('../img/submit_button.png');
    width: 174px;
    height: 66px;
    display: block;
    float: right;
    margin-right: -10px;
}

#contact .row .col-lg-4:first-child{
    padding-left: 0px;
}

#contact .row .col-lg-4:last-child{
    padding-right: 0px;
}

@media(max-width:1199px) {
    #contact .row .col-lg-4:first-child{
        padding-left: 15px;
    }

    #contact .row .col-lg-4:last-child{
        padding-right: 15px;
    }

    #contact a.submit {
        margin-right: 7px;
    }
}

@media(max-width:767px) {
    #contact .row .col-lg-4:first-child{
        padding-left: 15px;
    }

    #contact .row .col-lg-4:last-child{
        padding-right: 15px;
    }

    #contact a.submit {
        margin-right: 7px;
    }
}

#clients {
    background-color: #2f3a51;
    padding: 100px 0;
}

#clients .row{
    margin: 0 auto;
}

#clients .bx-wrapper .bx-viewport{
    box-shadow: none;
    border: none;
    background: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#clients .bx-wrapper .bx-prev{
    left: -21px;
    background: url(../img/client_nav_arrow.png) no-repeat 0 0;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

#clients .bx-wrapper .bx-next{
    background: url(../img/client_nav_arrow.png) no-repeat 0 0;
    right: -19px;
}

footer {
    background-color: #15181f;
}

footer .footer-logo {
    width: 80%;
}


footer .nav.navbar-nav {
    float: none;
    display: table;
    margin: 0 auto;
}

footer .nav li{

}

footer .contact-mail{
    color: #fff;
    text-decoration: underline;
    text-align: center;
    display: block;
    font-size: 20px;
    margin-bottom: 80px;
}

footer .footer-base p{
    font-size: 100%;
    color: #6c7995;
}


.footer-base .col-md-3{
    text-align: center;
    color: #6c7995;
}

.footer-navbar-links li{
    margin: 0 20px;
}

.footer-navbar-links li a{
    margin: 30px 0;
    color: #97a3bd;
    font-size: 18px;
}
